@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");
/* line 7, ../compass/sass/style.sass */
body {
  font-family: "Open Sans", "Lato", sans-serif;
  background-color: white;
}

/* line 12, ../compass/sass/style.sass */
header {
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 15px -15px #333, 0 -15px 15px -15px #333;
}

/* line 17, ../compass/sass/style.sass */
.header-div {
  margin-left: auto;
  margin-right: auto;
}

/* line 21, ../compass/sass/style.sass */
.contact-div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

/* line 30, ../compass/sass/style.sass */
.title-text {
  text-align: center;
  font-weight: 300;
  color: #333;
}

/* line 36, ../compass/sass/style.sass */
.Myform {
  width: 100%;
  border: none !important;
  border-bottom: 2px solid #52596b !important;
  border-radius: 0px !important;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
}

/* line 45, ../compass/sass/style.sass */
.label-form {
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
  color: #52596b;
}

/* line 50, ../compass/sass/style.sass */
input, textarea {
  color: #rgb 82, 89, 107 !important;
  background-color: white;
}

/* line 54, ../compass/sass/style.sass */
textarea:focus, input:focus {
  outline: none;
  color: #rgb 82, 89, 107 !important;
}

/* line 58, ../compass/sass/style.sass */
*::-webkit-input-placeholder {
  color: #rgb 82, 89, 107;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 300;
}

/* line 63, ../compass/sass/style.sass */
*:-moz-placeholder {
  color: #rgb 82, 89, 107;
  opacity: 1;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 300;
}

/* line 69, ../compass/sass/style.sass */
*::-moz-placeholder {
  color: #rgb 82, 89, 107;
  opacity: 1;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 300;
}

/* line 75, ../compass/sass/style.sass */
*:-ms-input-placeholder {
  color: #rgb 82, 89, 107;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 300;
}

/* line 80, ../compass/sass/style.sass */
.radio-gender, .radio-work {
  margin-left: -20px !important;
}

/* line 84, ../compass/sass/style.sass */
.radio-inline {
  width: 45% !important;
  margin-top: 10px !important;
}

/* line 88, ../compass/sass/style.sass */
#countries, #provinces {
  margin-top: 10px !important;
}

/* line 91, ../compass/sass/style.sass */
.phone-text {
  margin-top: 5px;
  margin-bottom: 0;
}

/* line 95, ../compass/sass/style.sass */
.checkbox-campus {
  width: 32%;
}

/* line 98, ../compass/sass/style.sass */
.text-radio-checkbox {
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
  color: #52596b;
}

/* line 103, ../compass/sass/style.sass */
.full-width {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

/* line 107, ../compass/sass/style.sass */
#send-button {
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
  color: #52596b;
  border: 2px solid #52596b !important;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
/* line 116, ../compass/sass/style.sass */
#send-button:hover {
  color: #590096;
  border: 2px solid #590096 !important;
  background-color: white !important;
}

/* line 121, ../compass/sass/style.sass */
.animation-form-label {
  color: white;
}

/* line 124, ../compass/sass/style.sass */
.h5-text {
  margin: 15px 30px;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
}

/* line 129, ../compass/sass/style.sass */
.footer {
  color: #fff;
  background-color: #28122E;
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 400;
}

/* line 135, ../compass/sass/style.sass */
.error {
  color: red;
}

/* line 138, ../compass/sass/style.sass */
.result-div {
  min-height: 85vh;
}

/* line 141, ../compass/sass/style.sass */
.result-text-h3 {
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 300;
  padding: 0px 20px;
}

/* line 146, ../compass/sass/style.sass */
.goback-link-h4 {
  font-family: "Open Sans", "Lato", sans-serif;
  font-weight: 300;
  padding: 0px 20px;
}
